:root {
  --clr-dark-cyan: hsl(158, 36%, 37%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-very-dark-blue: hsl(212, 21%, 14%);
  --clr-dark-grayish-blue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);
}

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: var(--clr-cream);
  font-family: "Fraunces", sans-serif;
}

main {
  display: grid;
  place-items: center;
  min-height: 100svh;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 375px;
  margin: 2rem 1rem;
  border-radius: 1rem;
  background-color: var(--clr-white);
}

.card__img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.content {
  padding: 1.5rem;
}

.card__info {
  color: var(--clr-dark-grayish-blue);
  letter-spacing: 0.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9em;
  margin-bottom: 1rem;
}

.card__title {
  color: var(--clr-very-dark-blue);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.card__description {
  color: var(--clr-dark-grayish-blue);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 1.25rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.price--current {
  font-weight: 700;
  color: var(--clr-dark-cyan);
  font-size: 2rem;
}

.price--crossed {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  color: var(--clr-dark-grayish-blue);
  text-decoration: line-through;
}

.card__btn {
  color: var(--clr-white);
  background-color: var(--clr-dark-cyan);
  width: 100%;
  border: none;
  padding: 1rem 0;
  border-radius: 0.5rem;
  font-size: 1.1em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.card__btn:hover {
  cursor: pointer;
  background-color: hsl(158, 36%, 21%);
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 36.5rem) {
  .card {
    max-width: 550px;
    grid-template-columns: repeat(2, 1fr);
  }

  .card__img {
    border-radius: 1rem 0 0 1rem;
    height: 100%;
  }
}
